MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=smartpark
MYSQL_USER=smartpark
MYSQL_PASSWORD=smartpark
SMARTPARK_MYSQL_CONNECTION=server=127.0.0.1;port=3307;database=smartpark;user=smartpark;password=smartpark;
SMARTPARK_MYSQL_HOST=127.0.0.1
SMARTPARK_MYSQL_PORT=3307
SMARTPARK_MYSQL_DB=smartpark
SMARTPARK_MYSQL_USER=smartpark
SMARTPARK_MYSQL_PASSWORD=smartpark
