# Build artifacts
**/bin/
**/obj/

# User-specific files
.vs/
.vscode/
.env
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store

# Ignore generated docs index
docs/

Tools/generate_pdfs.py
Tools/generate_pptx.py

Assignment 3 - ITE 1942 (1).pdf
